svg:not(:root) {
	-webkit-transform: rotate(-270deg);
}

a {
	text-decoration: none;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#caritaFeliz {
	position: relative;
	margin: 0 auto;
}